* {
    box-sizing: borderbox;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    }
.header {
    display: flex;
    flex-direction: row;
    background-color: #698F3F;
    flex-wrap: nowrap;
    color: white;
    height: 3.75rem;
    align-items: center;
    }
    .site-name { 
        font-size: 1.5rem;
        font-weight: bold;
        flex: 3 1 auto;
        padding: 1.5rem;
    }
    .navigation {
        flex: 1 1 auto;
        padding: 1.5rem;
        }
    .navigation-list {
            display: flex;
            justify-content: space-around;
            font-size: 1.125rem;
            margin: auto;
            list-style: none;
    }   
        .nav-link {
            color: white;
            text-decoration: none;
    }
   
.mid-section {
    display: flex;
    flex: 1 1 auto;
    align-content: space-between;
}
    .sidebar {
    display: flex;
    flex: 1 0 20vw;
    flex-direction: column;
    background: #E7DECD;
    padding: 1.5rem;
}
        .sidebar-title{
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 0;
}
        .sidebar-image {
        padding: 0;
        margin: 0;
}   
        img {
        max-width: 100%;
  } 
  .main-section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
    .main-section-top {
    display: flex;
    flex: 1 1 auto;
    background: white;
    font-size: 1.125rem;
}
        .main-content {
        flex: 1 1 auto;
        padding: 1.5rem;
    }
        .main-title {
        font-family: serif;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 0;
    }

.main-section-bottom {
    text-align: center;
    background: #804E49;
    color: white;
    font-size: 1.125rem;
}